<script>
import { chessboard } from "vue-chessboard";

export default {
  name: "Chessboard",
  extends: chessboard,
  data() {
    return {
      numMove: 0,
      flagUndoAI: true,
      flagWrongMove: false,
    };
  },
  props: {
    moves: String,
  },
  computed: {
    movesArray: function () {
      return this.moves.split(" ");
    },
    lastMove: function () {
      return this.movesArray.length;
    },
  },
  methods: {
    undo() {
      this.$emit("solvedOrFail", "");
      if (this.numMove > 1) {
        this.numMove--;
        this.game.undo();
        this.board.set({
          fen: this.game.fen(),
          turnColor: this.toColor(),
          movable: {
            color: this.toColor(),
            dests: this.possibleMoves(),
            events: { after: this.userPlay() },
          },
          viewOnly: false,
        });
        if (this.flagWrongMove) {
          this.flagWrongMove = false;
        } else if (this.numMove > 1 && this.numMove + 1 != this.lastMove) {
          if (this.flagUndoAI) {
            this.flagUndoAI = false;
            this.undo();
          }
          this.flagUndoAI = true;
        }
      }
    },
    userPlay() {
      return (orig, dest) => {
        let move = orig + dest;

        this.$emit("solvedOrFail", "");

        if (this.isPromotion(orig, dest)) {
          this.promoteTo = this.onPromotion();
        }

        this.game.move({
          from: orig,
          to: dest,
          promotion: this.promoteTo,
        }); // promote to queen for simplicity
        this.board.set({
          fen: this.game.fen(),
        });
        this.calculatePromotions();

        if (this.movesArray[this.numMove].includes("q")) {
          move += "q";
        }

        if (move === this.movesArray[this.numMove]) {
          this.numMove++;
          if (this.numMove === this.lastMove) {
            console.log("YOU WIN");
            this.board.set({
              viewOnly: true,
            });
            this.$emit("solvedOrFail", "solved");
          } else {
            this.aiNextMove();
          }
        } else {
          this.numMove++;
          this.flagWrongMove = true;
          this.board.set({
            viewOnly: true,
          });
          console.log("YOU LOSE :(");
          this.$emit("solvedOrFail", "failed");
        }
      };
    },
    aiNextMove() {
      let moves = this.game.moves({ verbose: true });
      const from = this.movesArray[this.numMove].substring(0, 2);
      const to = this.movesArray[this.numMove].substring(2, 4);
      this.game.move({
        from: from,
        to: to,
        promotion: this.movesArray[this.numMove].includes("q") ? "q" : "",
      });
      this.board.set({
        fen: this.game.fen(),
        turnColor: this.toColor(),
        movable: {
          color: this.toColor(),
          dests: this.possibleMoves(),
          events: { after: this.userPlay() },
        },
      });
      this.numMove++;
    },
    help() {
      if (this.numMove < this.lastMove && !this.flagWrongMove) {
        let help = [
          {
            orig: this.movesArray[this.numMove].substring(0, 2),
            brush: "yellow",
          },
        ];
        this.board.setShapes(help);
      }
    },
    myEventHandler(e) {
      this.board.redrawAll();
    },
  },
  mounted() {
    this.aiNextMove();
    this.board.set({
      movable: { events: { after: this.userPlay() } },
    });
  },
  created: function () {
    this.$parent.$on("undo", this.undo);
    this.$parent.$on("help", this.help);
    window.addEventListener("resize", this.myEventHandler);
  },
  destroyed() {
    window.removeEventListener("resize", this.myEventHandler);
  },
};
</script>
<style scoped>
@media screen and (min-width: 600px) {
  .cg-board-wrap {
    width: 500px;
    height: 500px;
    position: relative;
    display: block;
  }
}
</style>
