<template>
  <div id="container">
    <result id="containerMSG" :puzzleid="idpuzzle" :userid="iduser" :solvedOrFail="solvedOrFail" :text="text" />
    <chessboard
      @solvedOrFail="sendResults"
      :orientation="this.orientation"
      :moves="moves"
      :fen="fen"
    />
    <div class="btn-group btn-group-lg" id="buttons">
      <button class="btn btn-success" @click="help">HELP</button>
      <button class="btn btn-primary" @click="undo">UNDO</button>
    </div>
  </div>
</template>

<script>
import chessboard from "./ChessboardGameTemplate.vue";
import Result from "./Result.vue";

export default {
  name: "Chessboard",
  data() {
    return {
      solvedOrFail: "",
      text: "",
    };
  },
  props: {
    fen: String,
    moves: String,
    idpuzzle: String,
    iduser: String
  },
  computed: {
    orientation: function () {
      if (this.fen.includes("w")) {
        return "black";
      } else {
        return "white";
      }
    },
  },
  components: {
    chessboard: chessboard,
    result: Result,
  },
  methods: {
    undo() {
      this.$emit("undo");
    },
    help() {
      this.$emit("help");
    },
    sendResults(result) {
      this.solvedOrFail = result;
      if (result === "solved") {
        this.text = "You solved the puzzle CONGRATS !";
      } else {
        this.text = "Wrong move, Try Again !";
      }
    },
  },
};
</script>

<style scoped>
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#buttons {
  flex: 1 1 100%;
  margin: 5px;
  text-align: center;
  height: 100px;
}

#containerMSG {
  flex: 1 1 100%;
  text-align: center;
  margin: 5px;
}
</style>
