<template>
  <div>
    <carousel
      :perPageCustom="[
        [10, 1],
        [700, 2],
        [780, 3],
        [1300, 4],
      ]"
      :navigationEnabled="true"
      :navigationNextLabel="'Next'"
      :navigationPrevLabel="'Prev'"
    >
      <slide v-for="puzzle in puzzles" :key="puzzle.id">
        <button
          @click="redirectToPuzzleView(puzzle.id)"
          style="background-color: #f8fafc; border: none"
        >
        <!-- <label v-if="isFiltered">{{puzzle.rating}}</label> -->
          <chessboard
            :orientation="puzzle.fen.includes('w') ? 'black' : 'white'"
            :fen="puzzle.fen"
          />
        </button>
      </slide>
    </carousel>
  </div>

  <!-- <chessboard :fen="fens[2]" /> -->
</template>

<script>
import chessboard from "./Chessboard.vue";
import { Carousel, Slide } from "vue-carousel";

export default {
  name: "Chessboard",
  props: {
    puzzles: Array,
  },
  methods: {
    redirectToPuzzleView: function (id) {
      window.location.href = "/puzzles/" + id;
    }
  },
  components: {
    chessboard: chessboard,
    Carousel,
    Slide
},
};
</script>

<style scoped></style>
