<script>
import { chessboard } from "vue-chessboard";

export default {
  name: "Chessboard",
  extends: chessboard,
  mounted() {
    this.board.set({
      viewOnly: true,
      drawable: {
        enabled: false,
      },
    });
  },
};
</script>
<style scoped>
.cg-board-wrap {
  width: 200px;
  height: 200px;
  position: relative;
  display: block;
}
</style>
