<template>
  <div :style="{ display: visibility }">{{ text }}</div>
</template>

<script>
export default {
  name: "Result",
  data() {
    return {
      visibility: "none",
    };
  },
  props: {
    text: String,
    solvedOrFail: String,
    puzzleid: String,
    userid: String,
  },
  watch: {
    solvedOrFail(newSolved, oldSolved) {
      if (newSolved != "") {
        this.visibility = "block";
        axios({
          method: 'post',
          url: '/stats',
          data: {
            user_id: this.userid,
            puzzle_id: this.puzzleid,
            score: 10,
            solved: newSolved == "solved" ? true : false,
          }
        });
        axios({
          method: 'post',
          url: '/solveds',
          data: {
            user_id: this.userid,
            puzzle_id: this.puzzleid,
            solved: newSolved == "solved" ? true : false
          }
        });
      } else {
        this.visibility = "none";
      }
    },
  },
};
</script>

<style scoped></style>
